<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    For Annotations to work..-->
    <context:annotation-config></context:annotation-config>


    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/jpmc"></property>
        <property name="username" value="root"></property>
        <property name="password" value="#RoopRaj89"></property>
    </bean>

    <!-- @Component: Automatically detects and registers it as a bean.-->
    <!--    By using @Component, no need to create bean-->
<!--         The below line for scanning all these Component Annotations: @Controller, @Service, @Repositry-->
    <context:component-scan base-package="com.jpmc"></context:component-scan>

</beans>
